@import "tailwindcss";

@font-face {
  font-family: 'Bryant Pro';
  src: url('/fonts/BryantPro-RegularAlternate.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bryant Pro';
  src: url('/fonts/BryantPro-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bryant Pro';
  src: url('/fonts/BryantPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bryant Pro';
  src: url('/fonts/BryantPro-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}